* {
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

ul {
  list-style: none;
}

.txt_main_colo {
  color: #1f2937;
}

.logo_txt_color {
  color: #000b6d;
}

.admin_dropDown_style {
  bottom: -170px !important;
  left: -15px;
}

nav {
  border-bottom: 2px solid #adadad;
  background-color: white;
  z-index: 999;
}
nav .nav_auth_btn {
  border-radius: 25px;
  background-color: #5f6fff;
  color: white;
}
nav a {
  position: relative;
}
nav a.active {
  color: #000b6d;
}
nav a.active::after {
  content: " ";
  background-color: #5f6fff;
  border-radius: 10px;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.auth_form {
  border-radius: 10px;
  border: 1px solid #adadad;
  box-shadow: 0px 20px 50px 0px rgba(95, 111, 255, 0.1019607843);
}
.auth_form .form_title {
  color: #4b5563;
}
.auth_form button {
  border-radius: 10px;
  background-color: #5f6fff;
  color: white;
}

.input_container label {
  color: #4b5563;
}
.input_container input {
  border: 1px solid #4b5563;
  border-radius: 8px;
  padding: 8px 16px;
  width: 100%;
  outline: 0;
}

.dropDown {
  position: relative;
}
.dropDown:hover .dropDown_Menu {
  visibility: visible;
  opacity: 1;
}
.dropDown .dropDown_Menu {
  position: absolute;
  bottom: -55px;
  background-color: aliceblue;
  color: #1f2937;
  border-radius: 8px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}
.dropDown .dropDown_Menu a, .dropDown .dropDown_Menu button {
  text-align: center;
  width: 100%;
  display: block;
}

footer {
  background-color: white;
  padding: 0.5rem 2rem;
}
footer .footer_data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2.5rem;
  border-bottom: 2px solid #adadad;
}
footer .footer_data .footer_desc {
  width: 40%;
}
footer .footer_data .footer_desc .footer_logo {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
footer .footer_data .footer_desc .footer_logo h1 {
  color: #000b6d;
}
footer .footer_data .footer_desc .footer_logo img {
  width: 40px;
  height: 40px;
}
footer .footer_data .footer_desc p {
  font-size: 18px;
  color: #1f2937;
  margin-top: 2rem;
  font-weight: 400;
  line-height: 30px;
}
footer .footer_data .footer_links,
footer .footer_data .footer_contact {
  align-self: baseline;
  color: #1f2937;
}
footer .footer_data .footer_links .links,
footer .footer_data .footer_contact .links {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 2rem;
}
footer .footer_data .footer_links .links a,
footer .footer_data .footer_contact .links a {
  color: #1f2937;
  font-size: 18px;
}
footer .copy_write p {
  text-align: center;
  padding: 1.5rem;
  font-size: 18px;
  color: #1f2937;
  font-weight: 400;
}

.section_title h2 {
  font-size: 40px;
  font-weight: 500;
  color: #1f2937;
  margin-bottom: 1rem;
}
.section_title p {
  color: #4b5563;
  font-size: 18px;
}

.Home {
  width: 100%;
  height: 100%;
}
.Home .Hero {
  height: 80vh;
  background-color: #5f6fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
}
.Home .Hero .hero_desc {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}
.Home .Hero .hero_desc h1 {
  font-size: 63px;
  font-weight: 600;
  color: white;
  line-height: 80px;
}
.Home .Hero .hero_desc p {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
  font-size: 18px;
}
.Home .Hero .hero_desc p img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 130px;
}
.Home .Hero .hero_img {
  width: 50%;
  align-self: end;
  position: relative;
}
.Home .Hero .hero_img img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.Home .Specility {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  text-align: center;
  margin-top: 3.5rem;
}
.Home .Specility .speciality-content {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
}
.Home .Specility .speciality-content div img {
  width: 105px;
  height: 105px;
  -o-object-fit: contain;
     object-fit: contain;
}
.Home .Specility .speciality-content div p {
  font-size: 18px;
  color: #4b5563;
}
.Home .BookNow {
  width: calc(100% - 7rem);
  height: 43vh;
  background-color: #5f6fff;
  margin: 3.5rem auto;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  z-index: 1;
  position: relative;
}
.Home .BookNow .details {
  color: white;
  font-size: 35px;
  font-weight: 700;
  line-height: 80px;
}
.Home .BookNow .book_image {
  z-index: 2;
  display: flex;
  position: absolute;
  right: 3rem;
  bottom: 0;
}
.Home .BookNow .book_image img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 410px;
}/*# sourceMappingURL=index.css.map */