* {
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  font-display: swap;
}

$Logo_Txt_Color: #000b6d;
$Main_Txt_Color: #1f2937;
$second_font_color: #4b5563;
$blue_Color: #5f6fff;

ul {
  list-style: none;
}

.txt_main_colo {
  color: $Main_Txt_Color;
}

.logo_txt_color {
  color: $Logo_Txt_Color;
}

.admin_dropDown_style {
  bottom: -115px !important;
  left: -15px;
}

nav {
  border-bottom: 2px solid #adadad;
  background-color: white;
  z-index: 999;
  .nav_auth_btn {
    border-radius: 25px;
    background-color: $blue_Color;
    color: white;
  }

  a {
    position: relative;
    &.active {
      color: $Logo_Txt_Color;
      &::after {
        content: " ";
        background-color: $blue_Color;
        border-radius: 10px;
        width: 100%;
        height: 3px;
        position: absolute;
        bottom: -5px;
        left: 0;
      }
    }
  }
}

.auth_form {
  border-radius: 10px;
  border: 1px solid #adadad;
  box-shadow: 0px 20px 50px 0px #5f6fff1a;
  .form_title {
    color: #4b5563;
  }
  button {
    border-radius: 10px;
    background-color: $blue_Color;
    color: white;
  }
}

.input_container {
  label {
    color: #4b5563;
  }
  input {
    border: 1px solid #4b5563;
    border-radius: 8px;
    padding: 8px 16px;
    width: 100%;
    outline: 0;
  }
}

.dropDown {
  position: relative;
  &:hover {
    .dropDown_Menu {
      visibility: visible;
      opacity: 1;
    }
  }
  .dropDown_Menu {
    position: absolute;
    bottom: -55px;
    background-color: aliceblue;
    color: $Main_Txt_Color;
    border-radius: 8px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    a,
    button {
      text-align: center;
      width: 100%;
      display: block;
    }
  }
}

footer {
  background-color: white;
  padding: 0.5rem 2rem;
  .footer_data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2.5rem;
    border-bottom: 2px solid #adadad;
    .footer_desc {
      width: 40%;
      .footer_logo {
        display: flex;
        align-items: center;
        gap: 0.6rem;
        h1 {
          color: #000b6d;
        }
        img {
          width: 40px;
          height: 40px;
        }
      }
      p {
        font-size: 18px;
        color: $Main_Txt_Color;
        margin-top: 2rem;
        font-weight: 400;
        line-height: 30px;
      }
    }
    .footer_links,
    .footer_contact {
      align-self: baseline;
      color: $Main_Txt_Color;
      .links {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        margin-top: 2rem;
        a {
          color: $Main_Txt_Color;
          font-size: 18px;
        }
      }
    }
  }
  .copy_write {
    p {
      text-align: center;
      padding: 1.5rem;
      font-size: 18px;
      color: $Main_Txt_Color;
      font-weight: 400;
    }
  }
}

.section_title {
  h2 {
    font-size: 40px;
    font-weight: 500;
    color: $Main_Txt_Color;
    margin-bottom: 1rem;
  }
  p {
    color: $second_font_color;
    font-size: 18px;
  }
}

.Home {
  width: 100%;
  height: 100%;
  .Hero {
    height: 80vh;
    background-color: $blue_Color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    .hero_desc {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.2rem;
      h1 {
        font-size: 63px;
        font-weight: 600;
        color: white;
        line-height: 80px;
      }
      p {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: white;
        font-size: 18px;
        img {
          object-fit: contain;
          width: 130px;
        }
      }
    }
    .hero_img {
      width: 50%;
      align-self: end;
      position: relative;
      img {
        object-fit: contain;
        width: 100%;
        position: absolute;
        bottom: 0;
      }
    }
  }

  .Specility {
    margin-top: 3.5rem;
    .speciality-content {
      div {
        img {
          width: 105px;
          height: 105px;
          object-fit: contain;
        }
        p {
          font-size: 18px;
          color: $second_font_color;
        }
      }
    }
  }

  .BookNow {
    width: calc(100% - 7rem);
    height: 43vh;
    background-color: $blue_Color;
    margin: 3.5rem auto;
    border-radius: 25px;
    padding: 3rem;
    z-index: 1;
    position: relative;
    .details {
      color: white;
      font-size: 35px;
      font-weight: 700;
      line-height: 80px;
    }
    .book_image {
      z-index: 2;
      position: absolute;
      right: 3rem;
      bottom: 0;
      img {
        object-fit: contain;
        width: 410px;
      }
    }
  }
}

.Doctors_Section {
  width: calc(100% - 7rem);
  margin: 3.5rem auto;
}

aside {
  width: 20%;
  border-right: 1px solid #adadad;
  ul {
    a {
      img {
        width: 21px;
        object-fit: contain;
      }
      p {
        color: #515151;
      }
      &.active {
        background-color: #f2f3ff;
        border-right: 6px solid $blue_Color;
      }
    }
  }
}

.dashboard-page {
  background-color: #f8f9fd;
  .system_details {
    .obj_detail {
      background-color: white;
      border-radius: 5px;
      box-shadow: 0px 0px 4px 0px #0000001a;
      .img-container {
        width: 60px;
        height: 60px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      h4 {
        color: #515151;
      }
      p {
        color: #8893b0;
      }
    }
  }
}

.Add_Doctor_Section {
  overflow-y: scroll;
  background-color: #f8f9fd;
  .subtitle {
    color: $Main_Txt_Color;
  }
  .upload_img_container {
    input[type="file"] {
      visibility: hidden;
    }
    img {
      width: 120px;
      height: 120px;
      object-fit: contain;
    }
    p {
      color: $Main_Txt_Color;
    }
  }
  .add_doc_inputs {
    border: 1px solid #d8d8d8;
    border-radius: 8px;
    background-color: white;
    .input_parent {
      width: 45%;
      label {
        color: $second_font_color;
      }
      input,
      textarea {
        border: 1px solid #c1c1c1;
        border-radius: 8px;
        padding: 0.5rem 0.8rem;
        outline: 0;
      }
    }
  }
  .add_doc_btn {
    border-radius: 30px;
    color: white;
    background-color: $blue_Color;
  }
}

.btn-primary {
  background-color: $blue_Color;
  color: white;
  border-radius: 8px;
}

.Doctors_List {
  background-color: #f8f9fd;
}

.doctors_cards {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.doc_card {
  border: 1px solid #c9d8ff;
  width: 22%;
  border-radius: 15px;
  .doc_image {
    height: 240px;
    background-color: #eaefff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    img {
      position: absolute;
      bottom: 0;
      width: 200px;
      height: 220px;
      object-fit: contain;
    }
  }
  h1,
  h2 {
    color: $Main_Txt_Color;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  margin: 1rem 0;
}

.section_title {
  color: $Main_Txt_Color;
}

.selectSpecialityBtn {
  width: 100%;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  color: $second_font_color;
  font-size: 18px;
}

.About {
  padding: 70px 50px;
  h1 {
    font-weight: 300;
    margin-bottom: 3rem;
    span {
      font-weight: 500;
    }
  }
  .about-contact {
    .aboutImg {
      img {
        width: 100%;
        object-fit: contain;
      }
    }
    .abou-main {
      line-height: 33px;
      color: $second_font_color;
      h6 {
        font-size: 18px;
        color: $Main_Txt_Color;
      }
      p {
        font-weight: 300;
      }
    }
  }
  .whyUs {
    p {
      color: $Main_Txt_Color;
      font-size: 22px;
      font-weight: 300;
      span {
        font-weight: 500;
      }
    }
    .table {
      border: 1px solid #ababab;
      display: flex;
      div {
        padding: 50px;
        &.middle {
          border-left: 1px solid #ababab;
          border-right: 1px solid #ababab;
        }
        h5 {
          color: $Main_Txt_Color;
          font-size: 18px;
        }
        p {
          font-size: 14px;
          color: $second_font_color;
        }
      }
    }
  }
}

.Contact_Section {
  padding: 70px 50px;
  h1 {
    color: $Main_Txt_Color;
    font-weight: 300;
    span {
      font-weight: 500;
    }
  }
  .contact_content {
    .contact_img {
      width: 400px;
      height: 400px;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .contact_info {
      color: $second_font_color;
      h3 {
        font-size: 20px;
        font-weight: 500;
      }
      p {
        margin-bottom: 1.3rem;
        font-size: 14px;
        font-weight: 400;
      }
      button {
        background: transparent;
        border: 1px solid #1f2937;
        width: 100px;
        height: 50px;
        color: $Main_Txt_Color;
      }
    }
  }
}

.Doctor_Section {
  .doc_img {
    background-color: #5f6fff;
    border-radius: 1rem;
    img {
      object-fit: contain;
    }
  }
  .doctor_details {
    border: 1px solid #8893b0;
    border-radius: 1rem;
    .doc_degree_experinece {
      color: $second_font_color;
      span {
        padding: 4px 12px;
        border: 1px solid #8893b0;
        border-radius: 25px;
      }
    }
    .about_container {
      p {
        color: $second_font_color;
      }
    }
    .fee_container {
      h3 {
        color: $second_font_color;
        span {
          color: $Main_Txt_Color;
        }
      }
    }
  }
}

.Booking_Section {
  h2 {
    color: $second_font_color;
    font-size: 20px;
    font-weight: 500;
  }
  .Booking_Section_Content {
    .day_date {
      .container {
        width: 60px;
        height: 90px;
      }
    }
    .container {
      border: 1px solid #9ca3af;
      color: $second_font_color;
      border-radius: 30px;
      transition: all 0.3s;
      &.active,
      &:hover {
        transform: scale(1.1);
        color: white;
        background-color: $blue_Color;
        box-shadow: 0px 4px 12px 0px #5f6fff66;
      }
    }
    .Booking_Btn {
      transition: all 0.3s ease;
      border-radius: 30px;
      background-color: $blue_Color;
      color: white;
      box-shadow: 0px 4px 12px 0px #5f6fff66;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.appointment_section {
  background-color: #f8f9fd;
  overflow-y: scroll;
  h1 {
    color: $Main_Txt_Color;
  }
}

.appointment_taple_container {
  border-radius: 15px;
  border: 1px solid #d8d8d8;
  background-color: #fff;
  .taple_content {
    border-bottom: 1px solid #d8d8d8;
    .deleteBtn {
      img {
        width: 50px;
        height: 50px;
        object-fit: contain;
      }
    }
  }
}

.menu {
  z-index: 999;
}

@media screen and (max-width: 900px) {
  nav {
    position: sticky;
    .navigation {
      display: none;
      position: fixed;
      z-index: 99;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: white;
      ul {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;
      }
      &.active {
        display: flex;
      }
    }
  }

  .Home {
    .Hero {
      padding: 0 1rem;
      flex-direction: column;
      .hero_desc {
        width: 100%;
        padding-top: 6rem;
        p {
          display: none;
        }
      }
      .hero_img {
        width: 100%;
        img {
          position: static;
        }
      }
    }
    .Specility {
      .speciality-content {
        flex-direction: column;
      }
    }
    .BookNow {
      width: calc(100% - 2rem);
      height: auto;
      padding: 1rem;
      margin: 1rem;
      .book_image {
        display: none;
      }
    }
  }

  .All_Doctors_Section_Content {
    flex-direction: column;
  }

  .doctors_cards {
    align-items: center;
    justify-content: center;
    .doc_card {
      width: 95%;
    }
  }

  footer {
    .footer_data {
      flex-direction: column;
      gap: 2rem;
      .footer_desc {
        width: 100%;
      }
      .footer_links {
        h1 {
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
  }

  .About {
    h1 {
      margin-bottom: 1rem;
    }
    padding: 1rem;
    .about-contact {
      flex-direction: column;
    }
    .whyUs {
      .table {
        flex-direction: column;
        div {
          padding: 3rem 1rem;
          letter-spacing: 1px;
          &.middle {
            border-left: none;
            border-right: none;
            border-bottom: 1px solid #ababab;
            border-top: 1px solid #ababab;
          }
        }
      }
    }
  }

  .Contact_Section {
    padding: 2rem 1rem;
    .contact_content {
      flex-direction: column;
      .contact_img {
        width: 100%;
        height: auto;
      }
      .contact_info {
        width: 100%;
        letter-spacing: 1px;
        p {
          font-size: 16px;
        }
        button {
          width: 200px;
        }
      }
    }
  }

  .auth_form {
    width: 90%;
  }

  .dashboard_layout {
    flex-direction: column;
    aside {
      width: 95%;
      border-right: none;
      border-bottom: 1px solid #adadad;
    }
    .system_details {
      flex-wrap: wrap;
    }

    .taple_content {
      .flex-1 {
        display: none;
      }
    }

    .input_parent {
      width: 95% !important;
    }
  }
}
