* {
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

$Logo_Txt_Color: #000b6d;
$Main_Txt_Color: #1f2937;
$second_font_color: #4b5563;
$blue_Color: #5f6fff;

ul {
  list-style: none;
}

.txt_main_colo {
  color: $Main_Txt_Color;
}

.logo_txt_color {
  color: $Logo_Txt_Color;
}

.admin_dropDown_style {
  bottom: -170px !important;
  left: -15px;
}

nav {
  border-bottom: 2px solid #adadad;
  background-color: white;
  z-index: 999;
  .nav_auth_btn {
    border-radius: 25px;
    background-color: $blue_Color;
    color: white;
  }

  a {
    position: relative;
    &.active {
      color: $Logo_Txt_Color;
      &::after {
        content: " ";
        background-color: $blue_Color;
        border-radius: 10px;
        width: 100%;
        height: 3px;
        position: absolute;
        bottom: -5px;
        left: 0;
      }
    }
  }
}

.auth_form {
  border-radius: 10px;
  border: 1px solid #adadad;
  box-shadow: 0px 20px 50px 0px #5f6fff1a;
  .form_title {
    color: #4b5563;
  }
  button {
    border-radius: 10px;
    background-color: $blue_Color;
    color: white;
  }
}

.input_container {
  label {
    color: #4b5563;
  }
  input {
    border: 1px solid #4b5563;
    border-radius: 8px;
    padding: 8px 16px;
    width: 100%;
    outline: 0;
  }
}

.dropDown {
  position: relative;
  &:hover {
    .dropDown_Menu {
      visibility: visible;
      opacity: 1;
    }
  }
  .dropDown_Menu {
    position: absolute;
    bottom: -55px;
    background-color: aliceblue;
    color: $Main_Txt_Color;
    border-radius: 8px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    a,
    button {
      text-align: center;
      width: 100%;
      display: block;
    }
  }
}

footer {
  background-color: white;
  padding: 0.5rem 2rem;
  .footer_data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2.5rem;
    border-bottom: 2px solid #adadad;
    .footer_desc {
      width: 40%;
      .footer_logo {
        display: flex;
        align-items: center;
        gap: 0.6rem;
        h1 {
          color: #000b6d;
        }
        img {
          width: 40px;
          height: 40px;
        }
      }
      p {
        font-size: 18px;
        color: $Main_Txt_Color;
        margin-top: 2rem;
        font-weight: 400;
        line-height: 30px;
      }
    }
    .footer_links,
    .footer_contact {
      align-self: baseline;
      color: $Main_Txt_Color;
      .links {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        margin-top: 2rem;
        a {
          color: $Main_Txt_Color;
          font-size: 18px;
        }
      }
    }
  }
  .copy_write {
    p {
      text-align: center;
      padding: 1.5rem;
      font-size: 18px;
      color: $Main_Txt_Color;
      font-weight: 400;
    }
  }
}

.section_title {
  h2 {
    font-size: 40px;
    font-weight: 500;
    color: $Main_Txt_Color;
    margin-bottom: 1rem;
  }
  p {
    color: $second_font_color;
    font-size: 18px;
  }
}

.Home {
  width: 100%;
  height: 100%;
  .Hero {
    height: 80vh;
    background-color: $blue_Color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    .hero_desc {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.2rem;
      h1 {
        font-size: 63px;
        font-weight: 600;
        color: white;
        line-height: 80px;
      }
      p {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: white;
        font-size: 18px;
        img {
          object-fit: contain;
          width: 130px;
        }
      }
    }
    .hero_img {
      width: 50%;
      align-self: end;
      position: relative;
      img {
        object-fit: contain;
        width: 100%;
        position: absolute;
        bottom: 0;
      }
    }
  }

  .Specility {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    text-align: center;
    margin-top: 3.5rem;

    .speciality-content {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      margin-top: 2rem;
      div {
        img {
          width: 105px;
          height: 105px;
          object-fit: contain;
        }
        p {
          font-size: 18px;
          color: $second_font_color;
        }
      }
    }
  }

  .BookNow {
    width: calc(100% - 7rem);
    height: 43vh;
    background-color: $blue_Color;
    margin: 3.5rem auto;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    z-index: 1;
    position: relative;
    .details {
      color: white;
      font-size: 35px;
      font-weight: 700;
      line-height: 80px;
    }
    .book_image {
      z-index: 2;
      display: flex;
      position: absolute;
      right: 3rem;
      bottom: 0;
      img {
        object-fit: contain;
        width: 410px;
      }
    }
  }
}

aside {
  width: 20%;
  border-right: 1px solid #adadad;
  ul {
    a {
      img {
        width: 21px;
        object-fit: contain;
      }
      p {
        color: #515151;
      }
      &.active {
        background-color: #f2f3ff;
        border-right: 6px solid $blue_Color;
      }
    }
  }
}

.dashboard-page {
  background-color: #f8f9fd;
  .system_details {
    .obj_detail {
      background-color: white;
      border-radius: 5px;
      box-shadow: 0px 0px 4px 0px #0000001a;
      .img-container {
        width: 60px;
        height: 60px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      h4 {
        color: #515151;
      }
      p {
        color: #8893b0;
      }
    }
  }
}

.Add_Doctor_Section {
  background-color: #f8f9fd;
  .subtitle {
    color: $Main_Txt_Color;
  }
  .add_doc_inputs {
    border: 1px solid #D8D8D8;
    border-radius: 8px;
    background-color: white;
  }
}
