* {
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

ul {
  list-style: none;
}

.txt_main_colo {
  color: #1f2937;
}

.logo_txt_color {
  color: #000b6d;
}

.admin_dropDown_style {
  bottom: -115px !important;
  left: -15px;
}

nav {
  border-bottom: 2px solid #adadad;
  background-color: white;
  z-index: 999;
}
nav .nav_auth_btn {
  border-radius: 25px;
  background-color: #5f6fff;
  color: white;
}
nav a {
  position: relative;
}
nav a.active {
  color: #000b6d;
}
nav a.active::after {
  content: " ";
  background-color: #5f6fff;
  border-radius: 10px;
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.auth_form {
  border-radius: 10px;
  border: 1px solid #adadad;
  box-shadow: 0px 20px 50px 0px rgba(95, 111, 255, 0.1019607843);
}
.auth_form .form_title {
  color: #4b5563;
}
.auth_form button {
  border-radius: 10px;
  background-color: #5f6fff;
  color: white;
}

.input_container label {
  color: #4b5563;
}
.input_container input {
  border: 1px solid #4b5563;
  border-radius: 8px;
  padding: 8px 16px;
  width: 100%;
  outline: 0;
}

.dropDown {
  position: relative;
}
.dropDown:hover .dropDown_Menu {
  visibility: visible;
  opacity: 1;
}
.dropDown .dropDown_Menu {
  position: absolute;
  bottom: -55px;
  background-color: aliceblue;
  color: #1f2937;
  border-radius: 8px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}
.dropDown .dropDown_Menu a,
.dropDown .dropDown_Menu button {
  text-align: center;
  width: 100%;
  display: block;
}

footer {
  background-color: white;
  padding: 0.5rem 2rem;
}
footer .footer_data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2.5rem;
  border-bottom: 2px solid #adadad;
}
footer .footer_data .footer_desc {
  width: 40%;
}
footer .footer_data .footer_desc .footer_logo {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
footer .footer_data .footer_desc .footer_logo h1 {
  color: #000b6d;
}
footer .footer_data .footer_desc .footer_logo img {
  width: 40px;
  height: 40px;
}
footer .footer_data .footer_desc p {
  font-size: 18px;
  color: #1f2937;
  margin-top: 2rem;
  font-weight: 400;
  line-height: 30px;
}
footer .footer_data .footer_links,
footer .footer_data .footer_contact {
  align-self: baseline;
  color: #1f2937;
}
footer .footer_data .footer_links .links,
footer .footer_data .footer_contact .links {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 2rem;
}
footer .footer_data .footer_links .links a,
footer .footer_data .footer_contact .links a {
  color: #1f2937;
  font-size: 18px;
}
footer .copy_write p {
  text-align: center;
  padding: 1.5rem;
  font-size: 18px;
  color: #1f2937;
  font-weight: 400;
}

.section_title h2 {
  font-size: 40px;
  font-weight: 500;
  color: #1f2937;
  margin-bottom: 1rem;
}
.section_title p {
  color: #4b5563;
  font-size: 18px;
}

.Home {
  width: 100%;
  height: 100%;
}
.Home .Hero {
  height: 80vh;
  background-color: #5f6fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
}
.Home .Hero .hero_desc {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}
.Home .Hero .hero_desc h1 {
  font-size: 63px;
  font-weight: 600;
  color: white;
  line-height: 80px;
}
.Home .Hero .hero_desc p {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
  font-size: 18px;
}
.Home .Hero .hero_desc p img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 130px;
}
.Home .Hero .hero_img {
  width: 50%;
  align-self: end;
  position: relative;
}
.Home .Hero .hero_img img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.Home .Specility {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  text-align: center;
  margin-top: 3.5rem;
}
.Home .Specility .speciality-content {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
}
.Home .Specility .speciality-content div img {
  width: 105px;
  height: 105px;
  -o-object-fit: contain;
     object-fit: contain;
}
.Home .Specility .speciality-content div p {
  font-size: 18px;
  color: #4b5563;
}
.Home .BookNow {
  width: calc(100% - 7rem);
  height: 43vh;
  background-color: #5f6fff;
  margin: 3.5rem auto;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  z-index: 1;
  position: relative;
}
.Home .BookNow .details {
  color: white;
  font-size: 35px;
  font-weight: 700;
  line-height: 80px;
}
.Home .BookNow .book_image {
  z-index: 2;
  display: flex;
  position: absolute;
  right: 3rem;
  bottom: 0;
}
.Home .BookNow .book_image img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 410px;
}

.Doctors_Section {
  width: calc(100% - 7rem);
  margin: 3.5rem auto;
}

aside {
  width: 20%;
  border-right: 1px solid #adadad;
}
aside ul a img {
  width: 21px;
  -o-object-fit: contain;
     object-fit: contain;
}
aside ul a p {
  color: #515151;
}
aside ul a.active {
  background-color: #f2f3ff;
  border-right: 6px solid #5f6fff;
}

.dashboard-page {
  background-color: #f8f9fd;
}
.dashboard-page .system_details .obj_detail {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1019607843);
}
.dashboard-page .system_details .obj_detail .img-container {
  width: 60px;
  height: 60px;
}
.dashboard-page .system_details .obj_detail .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.dashboard-page .system_details .obj_detail h4 {
  color: #515151;
}
.dashboard-page .system_details .obj_detail p {
  color: #8893b0;
}

.Add_Doctor_Section {
  overflow-y: scroll;
  background-color: #f8f9fd;
}
.Add_Doctor_Section .subtitle {
  color: #1f2937;
}
.Add_Doctor_Section .upload_img_container input[type=file] {
  visibility: hidden;
}
.Add_Doctor_Section .upload_img_container img {
  width: 120px;
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
}
.Add_Doctor_Section .upload_img_container p {
  color: #1f2937;
}
.Add_Doctor_Section .add_doc_inputs {
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  background-color: white;
}
.Add_Doctor_Section .add_doc_inputs .input_parent {
  width: 45%;
}
.Add_Doctor_Section .add_doc_inputs .input_parent label {
  color: #4b5563;
}
.Add_Doctor_Section .add_doc_inputs .input_parent input,
.Add_Doctor_Section .add_doc_inputs .input_parent textarea {
  border: 1px solid #c1c1c1;
  border-radius: 8px;
  padding: 0.5rem 0.8rem;
  outline: 0;
}
.Add_Doctor_Section .add_doc_btn {
  border-radius: 30px;
  color: white;
  background-color: #5f6fff;
}

.btn-primary {
  background-color: #5f6fff;
  color: white;
  border-radius: 8px;
}

.Doctors_List {
  height: 100%;
  width: 100vw;
}

.doctors_cards {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.doc_card {
  border: 1px solid #c9d8ff;
  width: 22%;
  border-radius: 15px;
}
.doc_card .doc_image {
  height: 240px;
  background-color: #eaefff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
}
.doc_card .doc_image img {
  position: absolute;
  bottom: 0;
  width: 200px;
  height: 220px;
  -o-object-fit: contain;
     object-fit: contain;
}
.doc_card h1,
.doc_card h2 {
  color: #1f2937;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  margin: 1rem 0;
}

.section_title {
  color: #1f2937;
}

.selectSpecialityBtn {
  width: 100%;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  color: #4b5563;
  font-size: 18px;
}

.About {
  padding: 70px 50px;
}
.About h1 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 3rem;
}
.About h1 span {
  font-weight: 500;
}
.About .about-contact {
  display: flex;
  gap: 1.5rem;
}
.About .about-contact .aboutImg {
  flex: 1;
}
.About .about-contact .aboutImg img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.About .about-contact .abou-main {
  flex: 3;
  line-height: 33px;
  color: #4b5563;
}
.About .about-contact .abou-main h6 {
  margin-bottom: 2rem;
  font-size: 18px;
  color: #1f2937;
}
.About .about-contact .abou-main p {
  font-weight: 300;
  margin-bottom: 2rem;
}
.About .whyUs p {
  color: #1f2937;
  font-size: 22px;
  margin-bottom: 2rem;
  font-weight: 300;
  text-transform: uppercase;
}
.About .whyUs p span {
  font-weight: 500;
}
.About .whyUs .table {
  border: 1px solid #ababab;
  display: flex;
}
.About .whyUs .table div {
  padding: 50px;
  flex: 1;
}
.About .whyUs .table div.middle {
  border-left: 1px solid #ababab;
  border-right: 1px solid #ababab;
}
.About .whyUs .table div h5 {
  margin-bottom: 2rem;
  color: #1f2937;
  font-size: 18px;
}
.About .whyUs .table div p {
  font-size: 14px;
  color: #4b5563;
}

.Contact_Section {
  padding: 70px 50px;
}
.Contact_Section h1 {
  color: #1f2937;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 300;
}
.Contact_Section h1 span {
  font-weight: 500;
}
.Contact_Section .contact_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.Contact_Section .contact_content .contact_img {
  width: 400px;
  height: 400px;
}
.Contact_Section .contact_content .contact_img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Contact_Section .contact_content .contact_info {
  color: #4b5563;
}
.Contact_Section .contact_content .contact_info h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}
.Contact_Section .contact_content .contact_info p {
  margin-bottom: 1.3rem;
  font-size: 14px;
  font-weight: 400;
}
.Contact_Section .contact_content .contact_info button {
  background: transparent;
  border: 1px solid #1f2937;
  width: 100px;
  height: 50px;
  color: #1f2937;
}

.Doctor_Section .doc_img {
  background-color: #5f6fff;
  border-radius: 1rem;
}
.Doctor_Section .doc_img img {
  -o-object-fit: contain;
     object-fit: contain;
}
.Doctor_Section .doctor_details {
  border: 1px solid #8893b0;
  border-radius: 1rem;
}
.Doctor_Section .doctor_details .doc_degree_experinece {
  color: #4b5563;
}
.Doctor_Section .doctor_details .doc_degree_experinece span {
  padding: 4px 12px;
  border: 1px solid #8893b0;
  border-radius: 25px;
}
.Doctor_Section .doctor_details .about_container p {
  color: #4b5563;
}
.Doctor_Section .doctor_details .fee_container h3 {
  color: #4b5563;
}
.Doctor_Section .doctor_details .fee_container h3 span {
  color: #1f2937;
}

.Booking_Section h2 {
  color: #4b5563;
  font-size: 20px;
  font-weight: 500;
}
.Booking_Section .Booking_Section_Content .day_date .container {
  width: 60px;
  height: 90px;
}
.Booking_Section .Booking_Section_Content .container {
  border: 1px solid #9ca3af;
  color: #4b5563;
  border-radius: 30px;
  transition: all 0.3s;
}
.Booking_Section .Booking_Section_Content .container.active, .Booking_Section .Booking_Section_Content .container:hover {
  transform: scale(1.1);
  color: white;
  background-color: #5f6fff;
  box-shadow: 0px 4px 12px 0px rgba(95, 111, 255, 0.4);
}
.Booking_Section .Booking_Section_Content .Booking_Btn {
  transition: all 0.3s ease;
  border-radius: 30px;
  background-color: #5f6fff;
  color: white;
  box-shadow: 0px 4px 12px 0px rgba(95, 111, 255, 0.4);
}
.Booking_Section .Booking_Section_Content .Booking_Btn:hover {
  transform: scale(1.1);
}/*# sourceMappingURL=index.css.map */